:root, .light, .light-theme {
  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #ffeaea;
  --red-4: #ffdbdb;
  --red-5: #ffccce;
  --red-6: #ffbcbe;
  --red-7: #f7a8ab;
  --red-8: #ee8d92;
  --red-9: #e35;
  --red-10: #df1c49;
  --red-11: #d30340;
  --red-12: #690d20;

  --red-a1: #ff000003;
  --red-a2: #ff000008;
  --red-a3: #ff000015;
  --red-a4: #ff000024;
  --red-a5: #ff000a33;
  --red-a6: #ff000843;
  --red-a7: #e8000957;
  --red-a8: #d9000c72;
  --red-a9: #ea002bcc;
  --red-a10: #db0033e3;
  --red-a11: #d2003efc;
  --red-a12: #610014f2;

  --red-contrast: #fff;
  --red-surface: #fff5f5cc;
  --red-indicator: #e35;
  --red-track: #e35;

  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --red-1: oklch(99.4% 0.0036 17.09);
      --red-2: oklch(98.3% 0.0094 17.09);
      --red-3: oklch(95.4% 0.0247 17.09);
      --red-4: oklch(92.8% 0.0493 17.09);
      --red-5: oklch(89.6% 0.0641 17.09);
      --red-6: oklch(85.8% 0.0772 17.09);
      --red-7: oklch(80.9% 0.0929 17.09);
      --red-8: oklch(74.8% 0.118 17.09);
      --red-9: oklch(62.4% 0.2196 17.09);
      --red-10: oklch(58.2% 0.221 17.09);
      --red-11: oklch(55.1% 0.2196 17.09);
      --red-12: oklch(34.1% 0.1237 17.09);

      --red-a1: color(display-p3 0.6745 0.0235 0.0235 / 0.012);
      --red-a2: color(display-p3 0.8784 0.0196 0.0196 / 0.032);
      --red-a3: color(display-p3 0.8118 0.0588 0.0078 / 0.083);
      --red-a4: color(display-p3 0.8314 0.0078 0.0078 / 0.138);
      --red-a5: color(display-p3 0.8392 0.0078 0.0275 / 0.193);
      --red-a6: color(display-p3 0.8471 0.0039 0.0039 / 0.251);
      --red-a7: color(display-p3 0.7647 0.0039 0.0157 / 0.33);
      --red-a8: color(display-p3 0.7255 0.0039 0.0196 / 0.428);
      --red-a9: color(display-p3 0.8039 0 0.102 / 0.726);
      --red-a10: color(display-p3 0.7529 0 0.1176 / 0.793);
      --red-a11: color(display-p3 0.7098 0 0.1255 / 0.84);
      --red-a12: color(display-p3 0.3137 0 0.0471 / 0.91);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.9961 0.9608 0.9608 / 0.8);
      --red-indicator: oklch(62.4% 0.2196 17.09);
      --red-track: oklch(62.4% 0.2196 17.09);

      --gray-1: oklch(99.1% 0.0015 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.0045 277.7);
      --gray-4: oklch(93.1% 0.0061 277.7);
      --gray-5: oklch(91% 0.0077 277.7);
      --gray-6: oklch(88.8% 0.0093 277.7);
      --gray-7: oklch(85.3% 0.0117 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.0165 277.7);
      --gray-10: oklch(61% 0.0161 277.7);
      --gray-11: oklch(50.3% 0.0139 277.7);
      --gray-12: oklch(24.1% 0.0099 277.7);

      --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
      --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
      --gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
      --gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
      --gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
      --gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
      --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0165 277.7);
      --gray-track: oklch(64.6% 0.0165 277.7);
    }
  }
}

:root, .light, .light-theme, .radix-themes {
  --color-background: #fff;
}

.dark, .dark-theme {
  --red-1: #170e0f;
  --red-2: #1f1414;
  --red-3: #3d1116;
  --red-4: #530b18;
  --red-5: #64111f;
  --red-6: #761e2b;
  --red-7: #902d39;
  --red-8: #bc3b4c;
  --red-9: #e35;
  --red-10: #df1e49;
  --red-11: #ff8e96;
  --red-12: #ffd0d1;

  --red-a1: #ec000007;
  --red-a2: #ff44440f;
  --red-a3: #fb112c30;
  --red-a4: #ff002b47;
  --red-a5: #ff113a59;
  --red-a6: #fd2f4e6d;
  --red-a7: #fe455c89;
  --red-a8: #fe4b63b8;
  --red-a9: #ff365aed;
  --red-a10: #ff2052dd;
  --red-a11: #ff8e96;
  --red-a12: #ffd0d1;

  --red-contrast: #fff;
  --red-surface: #2d171780;
  --red-indicator: #e35;
  --red-track: #e35;

  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --red-1: oklch(17.8% 0.0152 17.09);
      --red-2: oklch(20.5% 0.0197 17.09);
      --red-3: oklch(25.2% 0.0693 17.09);
      --red-4: oklch(29.1% 0.1026 17.09);
      --red-5: oklch(33.2% 0.1148 17.09);
      --red-6: oklch(38.2% 0.1206 17.09);
      --red-7: oklch(44.9% 0.1328 17.09);
      --red-8: oklch(54.4% 0.1644 17.09);
      --red-9: oklch(62.4% 0.2196 17.09);
      --red-10: oklch(58.2% 0.2196 17.09);
      --red-11: oklch(78.5% 0.1823 17.09);
      --red-12: oklch(90.4% 0.0594 17.09);

      --red-a1: color(display-p3 0.9608 0 0 / 0.022);
      --red-a2: color(display-p3 0.9922 0.298 0.298 / 0.051);
      --red-a3: color(display-p3 1 0.1412 0.2118 / 0.164);
      --red-a4: color(display-p3 1 0.0863 0.2118 / 0.248);
      --red-a5: color(display-p3 1 0.1686 0.2706 / 0.311);
      --red-a6: color(display-p3 1 0.2745 0.3569 / 0.383);
      --red-a7: color(display-p3 1 0.349 0.4039 / 0.488);
      --red-a8: color(display-p3 1 0.3765 0.4353 / 0.66);
      --red-a9: color(display-p3 1 0.3098 0.3961 / 0.849);
      --red-a10: color(display-p3 1 0.2471 0.3647 / 0.79);
      --red-a11: color(display-p3 1 0.6157 0.6314 / 0.937);
      --red-a12: color(display-p3 1 0.8471 0.8471 / 0.971);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.1647 0.0863 0.0863 / 0.5);
      --red-indicator: oklch(62.4% 0.2196 17.09);
      --red-track: oklch(62.4% 0.2196 17.09);

      --gray-1: oklch(17.8% 0.0042 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.0055 277.7);
      --gray-4: oklch(28.4% 0.0075 277.7);
      --gray-5: oklch(31.4% 0.0089 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.0121 277.7);
      --gray-8: oklch(49.2% 0.0157 277.7);
      --gray-9: oklch(54% 0.0167 277.7);
      --gray-10: oklch(58.6% 0.0165 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
      --gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
      --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
      --gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
      --gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
      --gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.9176 1 / 0.488);
      --gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0167 277.7);
      --gray-track: oklch(54% 0.0167 277.7);
    }
  }
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}
