.root {
  position: relative;
  overflow: hidden;
  background: aliceblue;
  border-radius: 8px;
  width: 300px;
  height: 30px;
}

.indicator {
  width: 100%;
  height: 100%;
  background-color: dodgerblue;
  transition: transform 680ms cubic-bezier(0.65, 0, 0.35, 1);
}
